page-home {
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .scroll-content {
        padding: 0 !important;
        overflow: hidden;
    }

    mapboxgl-canvas {
        width: 100%;
        height: 100%;
    }

    .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left {
        display: none;
    }

    .mapboxgl-missing-css {
        display: none;
    }

    .statusbar {
        display: none;
    }
}
